---
layout: sezionelocale
title: PDP - ILS Fabriano
---

<div class="row">
  <div class="col-12 col-md-8">
    <p>
      La <strong>Sezione Locale di Fabriano</strong> di Italian Linux Society
      nasce dalle ceneri del PDP Free Software User Group, che dal 2003 ha
      promosso Linux e il software libero nel territorio fabrianese.
    </p>
    <p>
      L'obiettivo è continuare a promuovere l'open source nella zona, con nuova
      energia e facendo parte di una rete più ampia!
    </p>
    <p>
      <a
        class="cta-button"
        href="https://ilsmanager.linux.it/ng/register/to/fabriano/19"
        >Associati a Italian Linux Society - Fabriano</a
      >
    </p>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <p>
          <strong>Referente</strong>:<br />
          Dawid Weglarz<br />
          radeox@linux.it
        </p>
      </div>
      <div class="card-body">
        <p>
          <strong>Chat Telegram</strong>:<br />
          <a href="https://t.me/pdpfsug" rel="nofollow">@pdpfsug</a>
        </p>
        <p>
          <strong>Sito ufficiale</strong>:<br />
          <a class="btn btn-primary" role="button" href="https://pdp.linux.it/" title="Italian Linux Society - sezione locale di Fabriano">PDP ILS Fabriano</a>
      </div>
    </div>
  </div>
</div>
