---
layout: sezionelocale
title: ILS Este
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>Discutiamo nel nostro gruppo Telegram su come la tecnologia ci sta cambiando e come possiamo usarla in modo trasparente e consapevole. In particolare usiamo e promuoviamo software libero come GNU/Linux, app libere e usiamo servizi rispettosi della privacy. Oltre a essere semplici utilizzatori di strumenti digitali aperti, partecipiamo attivamente anche per migliorarli poiché è possibile, rispetto a tecnologie chiuse le quali si subiscono solamente.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/este/11">Associati a Italian Linux Society - Este</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>:<br />
                        Fabio Lovato<br />
                        loviuz@linux.it
                    </p>
                    <p>
                        <strong>Telegram</strong>:<br />
                        <a href="https://t.me/openit_este" rel="nofollow">@openit_este</a>
                    </p>
                    <p>
                        <strong>Matrix</strong>:<br />
                        <a href="https://matrix.to/#/!FQaIJQacPkLZHJaMfQ:matrix.org" rel="nofollow">matrix.org</a>
                    </p>
                    <p>
                        <strong>Mastodon</strong>:<br />
                        <a href="https://mastodon.uno/@openiteste">openiteste@mastodon.uno</a>
                    </p>
                    <p>
                        <strong>Dove</strong>:<br />
                        il sabato dalle 14:30 alle 18:30 al Patronato Ss. Redentore di Este, PD (Veneto). Si comunica sui canali Telegram e Matrix ogni appuntamento
                    </p>
                    <p>
                        <strong>Sito ufficiale</strong>:<br />
                        <a class="btn btn-primary" role="button" href="https://este.linux.it/">Este Linux.it</a>
                    </p>
            </div>
        </div>
    </div>
</div>
