---
layout: sezionelocale
title: ILS Torino
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>
            Quella di Torino è la prima Sezione Locale registrata in Italian Linux Society. Instaurata a gennaio 2020, raccoglie le esperienze del Comitato Linux Day Torino (che dal 2007 organizza il <a href="https://linuxdaytorino.org/">Linux Day Torino</a> nel capoluogo sabaudo) e dell'associazione Officina Informatica Libera (specializzata in trashware e software libero), coinvolgendo anche membri di <a href="https://weeeopen.polito.it/">WeeeOpen</a> (gruppo studentesco del Politecnico di Torino), <a href="https://therestartproject.org/groups/restarters-torino/">Restarters Torino</a> (collettivo per la riparazione ed il riuso degli oggetti) e diversi altri gruppi locali.
        </p>
        <p>Dal 2024 il referente è Roberto Guido. Precedentemente, dal 2020, il referente era Valerio Bozzolan, prima che si trasferisse a Milano.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/torino/1">Associati a Italian Linux Society - Torino</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>:<br />
                        Roberto Guido<br />bob@linux.it
                    </p>

                    <p>
                        <strong>Telegram</strong>:<br />
                        <a href="https://t.me/linuxtorino/" rel="nofollow">@LinuxTorino</a>
                    </p>

                    <p>
                        <strong>Dove</strong>:<br />
                        tutti i mercoledi dalle 18:00 alle 20:00 presso la Casa del Quartiere di via Oddino Morgari 14, Torino
                    </p>
                    <p>
                        <strong>Sito ufficiale:</strong><br />
                        <a class="btn btn-primary" role="button" href="https://torino.ils.org/" title="Italian Linux Society - Torino">ILS Torino</a>
                    </p>
            </div>
        </div>
    </div>
</div>
