---
layout: sezionelocale
title: ILS Verona
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La sezione locale di Verona di Italian Linux Society è nata dagli studenti del polo innovativo <a href="https://311verona.org/">311 Verona</a> e supportata da <a href="https://www.fondazioneedulife.org/">Fondazione Edulife</a>.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/verona/10">Associati a Italian Linux Society - Verona</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Referente</strong>:<br />
                    antonio.faccioli@linux.it
                </p>
            </div>
        </div>
    </div>
</div>
