---
layout: sezionelocale
title: ILS Pavia
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>
            <p>La <strong>Sede Locale di Pavia</strong> di Italian Linux Society nasce ad ottobre 2024 da un gruppo di persone appassionate dalla convinzione che l'informazione, la cultura, la scienza e la tecnica debbano essere liberamente accessibili e fruibili da tutti e che ognuno possa liberamente studiare, contribuire a modificare e distribuire i contenuti.</p>
            <p>Fortemente voluta da Julian Del Vecchio, patron di <a href="https://ufficiozero.org" target="_blank">Ufficio Zero Linux OS</a>, per divulgare e promuovere Linux ed il Software Libero ed Open Source sull'intero territorio pavese.</p>
            <p>Contrastiamo l'obsolescenza hardware programmata proponendo di non smaltire i vostri vecchi pc ma di usarli con distribuzioni linux consigliate, anche a 32bit per hardware che può sembrare solo all'apparenza obsoleto.</p>
            <p>Ci proponiamo di instaurare rapporti con il <strong>mondo scolastico</strong>, con le <strong>pubbliche amministrazioni</strong>, con l'<strong>associazionismo</strong> e con il <strong>mondo no-profit</strong>.</p>
            <p>Ci stiamo organizzando per avere una sede locale "fissa" dove poter tenere almeno una volta al mese riunioni e corsi, ma abbiamo anche intenzione di effettuare riunioni a tema anche tramite la piattaforma Jitsi Meet, per cui se abiti in Lombardia e vuoi unirti a noi, puoi farlo anche se non sei del territorio pavese.</p>
            <p>Altro obiettivo di azione è la grande platea di coloro che trovano insufficiente, inefficiente, rigido, scarsamente riguardoso della privacy o, semplicemente, troppo costoso per le proprie esigenze il software proprietario e che vorrebbero migrare verso l'Open Source.</p>
            <p><small>Il <a href="/images/sezioni-locali/ils_pavia_logo.png" target="_blank">logo di ILS Pavia</a> è rilasciato in Creative Commons Zero, pubblico dominio, da Julian Del Vecchio.</small></p> 
            <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/pavia/15">Associati in Italian Linux Society - Pavia</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <a href="https://pavia.ils.org/"><img src="/images/sezioni-locali/ils_pavia_logo.png" title="logo Italian Linux Society Pavia" class="img-fluid" /></a>
            </div>
            <div class="card-body">
                <p>
                    <strong>Referente</strong>:<br />Julian Del Vecchio
                </p>
                <p>
                    <strong>Coordinatore Corsi</strong>:<br />
                    Adriano Morselli
                </p>
                <p>
                    <strong>Coordinatore Enti Locali</strong>:<br />
                    Rosaria Papaleo
                </p>
                <p>
                    <strong>Mail</strong>:<br />
                    ils-pavia@etik.com
                </p>
                <p>
                    <strong>Telegram</strong>:<br />
                    <a href="https://t.me/pavialinux" target="_blank" rel="nofollow">@pavialinux</a>
                </p>
                <p>
                    <strong>LinkedIN</strong>:<br />
                    <a href="https://www.linkedin.com/company/ils-pavia/" target="_blank" rel="nofollow">ils-pavia</a>
                </p>
                <p>
                    <strong>Instagram</strong>:<br />
                    <a href="https://www.instagram.com/ilspavia/" target="_blank" rel="nofollow">ilspavia</a>
                </p>
                <p>
                    <strong>Sito ufficiale:</strong><br />
                    <a class="btn btn-primary" role="button" href="https://pavia.ils.org/" title="Italian Linux Society - Pavia">pavia.ils.org</a>
                </p>
            </div>
        </div>
    </div>
</div>
