---
layout: page
title: Contatti
description: Ci trovi sui social, via email e forum
---

<p>Per seguire le diverse attività dell'associazione è possibile consultare i seguenti canali di comunicazione, tematici e non:</p>

<ul>
    <li>i siti web <a href="https://www.ils.org/">ils.org</a>, <a href="https://www.linux.it/">linux.it</a> e <a href="https://www.linuxday.it/">linuxday.it</a></li>
    <li>l'account Mastodon <a rel="nofollow" href="https://mastodon.uno/@italinuxsociety">@ItaLinuxSociety</a></li>
    <li>gli account X/Twitter <a rel="nofollow" href="https://x.com/italinuxsociety">@ItaLinuxSociety</a>, <a rel="nofollow" href="https://x.com/linuxdayitalia">@LinuxDayItalia</a> e <a rel="nofollow" href="https://x.com/lugmap">@LugMap</a></li>
    <li>il canale YouTube <a rel="nofollow" href="http://www.youtube.com/user/ItalianLinuxSociety">ItalianLinuxSociety</a></li>
    <li>le pagine Facebook <a rel="nofollow" href="https://www.facebook.com/ItaLinuxSociety">ItaLinuxSociety</a> e <a rel="nofollow" href="https://www.facebook.com/LinuxDayItalia">LinuxDayItalia</a></li>
    <li>l'account Instagram <a rel="nofollow" href="https://www.instagram.com/italinuxsociety/">ItaLinuxSociety</a></li>
</ul>

<hr>

<p>Di seguito una lista di riferimenti utili per mettersi in contatto con Italian Linux Society:</p>

<ul>
    <li>
        <b>Assistenza Tecnica</b> - per richieste su Linux ed applicazioni libere e open source
        <ul>
            <li>Mail: <img src="/images/assistenza.png" style="height: 25px; width: auto; margin-top: -7px"></li>
            <li>Il servizio è gestito da volontari aderenti all'associazione e le informazioni inviate a questo indirizzo email sono pubbliche. Si raccomanda pertanto di non riportare numeri di telefono, indirizzi o altre informazioni sensibili.
            </li>
            <li>È raccomandato specificare la versione di Linux che si sta usando, marca e modello per proprio PC, ed il contenuto di eventuali messaggi di errore riportati dal sistema.</li>
        </ul>
    </li>
    <li>
        <b>Consiglio Direttivo</b> - per proposte di collaborazione e sponsorizzazione
        <ul>
            <li>Mail: ils-cd@linux.it</li>
        </ul>
    </li>
    <li>
        <b>Presidente</b>
        <ul>
            <li>Mail: presidente@linux.it</li>
        </ul>
    </li>
    <li>
        <b>Direttore</b> - per comunicazioni da parte dei soci (o degli aspiranti tali, incluse le associazioni), e per saperne di più sulle <a href="/sezionilocali">Sezioni Locali ILS</a>
        <ul>
            <li>Mail: direttore@linux.it</li>
        </ul>
    </li>
    <li>
        <b>LinuxDay</b> - per tutto quello che concerne la manifestazione nazionale di fine ottobre
        <ul>
            <li>Mail: info@linuxday.it</li>
            <li>Telefono: 348/7254214</li>
        </ul>
    </li>
    <li>
        <b>LugMap</b> - per segnalazioni inerenti la LugMap
        <ul>
            <li>Mail: lugmap@linux.it</li>
            <li>Telefono: 328/7296628</li>
        </ul>
    </li>
    <li>
        <b>WebMaster</b> - per segnalazioni e consigli relativi ai siti <a href="https://www.linux.it/">linux.it</a> e <a href="https://www.ils.org/">ils.org</a>
        <ul>
            <li>Mail: webmaster@linux.it</li>
        </ul>
    </li>
    <li>
        <b>Admin</b> - per problemi tecnici (mail, servizi, hosting...) relativi al dominio linux.it
        <ul>
            <li>Mail: admin@linux.it</li>
        </ul>
    </li>
    <li>
        <b>PEC</b> - il nostro indirizzo di Posta Elettronica Certificata
        <ul>
            <li>Mail: italianlinuxsociety@pec.it</li>
        </ul>
    </li>
</ul>
